<DOCTYPE html>
<html>
    <head>
        <title>REST with Forms</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
    <script type="text/javascript">
     function checkvalue(val)
     {
        if(val==="others")
            document.getElementById('color').style.display='block';
        else
            document.getElementById('color').style.display='none';
     }
        </script>

        <br />
        <form method="post" action="http://192.168.1.10:5000/">
            Name: <input type="text" name="name" id="name" /><br />
            Phone: <input type="number" name="phone" id="phone" /><br />
            Address1: <input type="address1" name="address1" id="address1" /><br />
            Address2: <input type="address2" name="address2" id="address2" /><br />
            email: <input type="email" name="email" id="email" /><br />






            <input type="submit" value="Submit" />
        </form>
    </body>
</html>
