<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>My visitors</title>
  
  
  
      <link rel="stylesheet" href="/static/css/styles.css">

  
</head>

<body>

  <h1><span class="blue"></span>My<span class="blue"></span> <span class="yellow">Visitors</pan></h1>
<h2></h2>

<table class="container">
	<thead>
		<tr>
			<th><h1>Device</h1></th>
			<th><h1>Time</h1></th>
			<th><h1>IP Address</h1></th>
			<th><h1>Date</h1></th>
		</tr>
	</thead>
	<tbody>
		 {% for row in data %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
	</tbody>
</table>
  
  

</body>

</html>
