<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Dashboard</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,600" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
<link rel='stylesheet prefetch' href='https://cdn.jsdelivr.net/jquery.selectric/1.10.1/selectric.css'>

      <link rel="stylesheet" href="/static/css/style2.css">

  
</head>

<body>

  
<div class="container card-list">
  <div class="card blue">
    <div class="title">Total Views</div><span></span>
    <div class="value">{{totalviews}}</div>
    <div class="stat"><b></b></div>
  </div>
  <div class="card green">
    <div class="title">Last seen device</div><span></span>
    <div class="value">{{device}}</div>
    <div class="stat"><b></b></div>
  </div>
  <div class="card orange">
    <div class="title">Last seen IP</div><span></span>
    <div class="value">{{latestip}}</div>
    <div class="stat"><b></b></div>
  </div>
  <div class="card red">
    <div class="title">Last seen Date Time</div><span></span>
    <div class="value">{{datetime}}</div>
    <div class="stat"><b></b></div>
  </div>
</div>
<div class="container projects">
  <div class="projects-inner">
    <header class="projects-header">
      <div class="title">Full details</div>
      <div class="count"></div><span class=""></span>
    </header>
    <table class="projects-table">


    </table>
    <table class="projects-table">
		 <thead>
			{% for row in data %}
        <tr>
        {% for d in row %}
            <td>{{ d }}</td>
        {% endfor %}
        </tr>
    {% endfor %}
		 </thead>

    </table>
  </div>
</div>
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdn.jsdelivr.net/jquery.selectric/1.10.1/jquery.selectric.min.js'></script>

  

    <script  src="/static/js/index1.js"></script>




</body>

</html>
